
// -- Colors -- //
$theme-primary: #376a7f;
$theme-secondary: #2E4156;
$theme-light-grey: #ECEFF1;
$form-control-text-color: #37474F;
$logo-color: #4682b4;

$menu-text-color: #424242;
$menu-icon-color: #757575;

$background-color: #ECEFF1;
$link-color: #6d8db1;

// -- Sizes -- //
$header-inner-height:55px;
$header-outer-height:71px;

// -- Grid -- //
$size-sm:576px;
$size-md:768px;
$size-lg:992px;
$size-xl:1200px;
