
// -- Colors -- //
$theme-primary: #376a7f;
$theme-secondary: #2E4156;
$theme-light-grey: #ECEFF1;
$form-control-text-color: #37474F;
$logo-color: #4682b4;

$light-header: #fafafa;
$light-text: rgba(0,0,0,0.54);
$menu-text-color: #424242;
$menu-icon-color: #757575;
$icon-offwhite: rgba(255, 255, 255, 0.8);

$background-color: #ECEFF1;
$link-color: #6d8db1;

// -- Shadows -- //
$header-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);

// -- Sizes -- //
$header-inner-height:55px;
$header-outer-height:71px;

// -- Grid -- //
$size-sm:576px;
$size-md:768px;
$size-lg:992px;
$size-xl:1200px;

$breakpoints: (
        "phone":        400px,
        "phone-wide":   480px,
        "phablet":      560px,
        "tablet-small": 640px,
        "tablet":       768px,
        "tablet-wide":  1024px,
        "desktop":      1248px,
        "desktop-wide": 1440px
);

@mixin mq($width, $type: min) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);
    @if $type == max {
      $width: $width - 1px;
    }
    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}

@mixin offwhiteIcon() {
  color: $icon-offwhite;

  &:hover {
    color:white;
  }
}