
// -- Colors -- //
$theme-primary: #376a7f;
$theme-secondary: #2E4156;
$theme-light-grey: #ECEFF1;
$form-control-text-color: #37474F;
$logo-color: #4682b4;

$background-color: #EFEFF4;
$link-color: #6d8db1;
// -- Grid -- //
$size-sm:576px;
$size-md:768px;
$size-lg:992px;
$size-xl:1200px;
