@import '../variables';

.avatar {
  height:40px;
  width:40px;
  font-size: 1rem;

  .icon {
    font-size: 1.6rem;

    &.white {
      color:white;
    }
  }

  &.smallest {
    height:22px;
    width:22px;
    font-size: 0.8rem;

    .icon {
      font-size: 0.8rem;
    }
  }

  &.smaller {
    height:28px;
    width:28px;
    font-size:0.825rem;

    .icon {
      font-size: 1rem;
    }
  }


  &.small {
    height:30px;
    width:30px;
    font-size:0.825rem;

    .icon {
      font-size: 1.25rem;
    }
  }

  &.medium {
    height:35px;
    width:35px;
    font-size:$small-font;

    .icon {
      font-size: 1.4rem;
    }
  }

}