@import '../variables';

.breadcrumbs {
  height: $breadcrumbs-height;
  border-bottom: 1px solid $divider-color;
  background-color: white;
  display: flex;
  align-items: center;
  box-shadow: $easy-shadow;

  .breadcrumb-holder {
    display: flex;
    align-items: center;

    .divider {
      font-size: $smaller-font;
      color: $light-text
    }

    .breadcrumb {
      transition: box-shadow .2s cubic-bezier(0, .5, .265, 2);
      border-radius: 5px;
      font-size: $small-font;
      padding: 5px 10px !important;

      &:not(.active) {
        cursor: pointer;
      }

      .project-breadcrumb {

        .value {

          &:after {
            display: inline-block;
            width: 0;
            height: 0;
            margin-left: .2em;
            vertical-align: middle;
            color: $light-text;
            content: "";
            border-top: .3em solid;
            border-right: .3em solid transparent;
            border-left: .3em solid transparent;
          }
        }
      }

      &:hover:not(.active) {
        box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .2);
        background: #e0e3e7;
      }

      &.single:not(.empty) {
        cursor: pointer;

        &:hover {
          box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .2);
          background: #e0e3e7;
        }
      }

      &.active {
        color: $active-text-color;
      }

      .description {
        color: $light-text;
      }
    }

    .divider {

    }
  }

  .project-members {
    position: relative;
    right: 20px;
    margin: 5px 0;
    padding: 10px;
    box-shadow: none;
    transform: none !important;
    transition: all 0.2s cubic-bezier(0, 0.5, 0.265, 2);

    .icon {
      color: $menu-icon-color;
      position: absolute;
      left: -1px;
      z-index: 1;
      top: 0;
    }

    .members-menu-holder {
      display: flex;
      align-items:center;
      padding: 8px;
      transition: all 400ms 0ms;
      width: 0;
      overflow: hidden;
      opacity: 0;
      position: absolute;
      left: 0;
      top: -9px;
      z-index: 0;

      &.open {
        opacity: 1;
      }

      .member {
        margin:0 0.25rem;
      }
    }

  }

  .open-drawer {
    height:50px;
    min-width:75px;
    display: flex;
    position: relative;
    box-sizing: border-box;
    text-align: left;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-right: 1px solid rgba(0, 0, 0, 0.12);
  }
}

.projects-menu {

  .menu-item {

    .active > span {
      color: $active-text-color;
    }
  }

}