@import '../variables';

.budgets-container {
  z-index: 1;
}

.budget-panel {
  color: $text-color;

  .budget-summary {
    align-items: center;
    flex: 1;
    font-size: 0.875rem;

    .budget-name {
      transition: font-size .2s ease;
    }

    .usage, .separator{
      color: $light-text;
    }

    .categories {

      .avatar {
        height:30px;
        width:30px;

        .icon {
          font-size: 1.25rem;
        }
      }
    }
  }

  .budget-content {
    flex-direction: column;

    .divider {
      border-right: 1px solid $divider-color;
    }

    .statistics-title {
      padding-left: 15px;
    }

    .statistics-title,
    .transactions-title{
      font-size: 0.925rem;
    }

    .usage-chart-label {
      font-size:0.9rem;
      color: $light-text;
      text-align:center;
    }

    .budge-usage-progress {
      height:100px;

      .CircularProgressbar {
        height: 100%;
      }
    }

    .transactions {
      border-top: 1px solid $divider-color;
    }
  }

  .actions {
    padding: 0.5rem;
  }

  &.expanded {

    .budget-name {
      font-size: 1rem ;
    }
  }

}

