@import '../variables';

.budgets-container {

}

.budget-panel {
  color: $text-color;

  .budget-summary {
    align-items: center;
    flex: 1;
    font-size: 0.875rem;

    .budget-name {
      transition: font-size .2s ease;
    }

    .usage, .separator{
      color: $light-text;
    }

  }

  .budget-content {
    flex-direction: column;

    .divider {
      border-right: 1px solid $divider-color;
    }

    .budget-chart {
      height:170px !important;
    }

    .statistics-title,
    .transactions-title{
      font-size: 0.925rem;
      display: flex;
      align-items: center;
      color: $text-color;

      .icon {
        margin: 0 .5rem;
        color: $menu-icon-color;
      }
    }

    .usage-chart-label {
      font-size:0.9rem;
      color: $light-text;
      text-align:center;
    }

    .budge-usage-progress {
      height:100px;

      .CircularProgressbar {
        height: 100%;
      }
    }

  }

  .actions {
    padding: 0.5rem;
  }

  &.expanded {

    .budget-name {
      font-size: 1rem ;
    }
  }

}

