@import '../variables';

.calendar-popper {
  @include withZIndex(popover);
  min-width:450px;

  .header{
    align-items: center;
    padding: .25rem .75rem;
    font-size: 1.25rem;
    color: white;
    transition: background-color 0.2s ease;

    .title {
      display:flex;
      align-items:center;
    }
  }

  .content {
    padding: 1rem;

    .form-control:not(:last-child) {
      margin-bottom: 0.75rem;
    }
  }

  .footer {
    padding: .25rem;
    display: flex;
    justify-content: flex-end;
  }
}

.calendar-container {

  .calendar-mask {
    @include mask();
    @include withZIndex(innerMask);
    background-color: rgba(255, 255, 255, 0.5)
  }

  .calendar {
    min-height: calc(100vh - 300px);

    .rbc-toolbar {
      padding: 5px 0;

      .rbc-toolbar-label {
        width: 100%;
        padding: 0;
        font-size: $big-font;
        font-weight: 400;
        color: #424242;
      }

      .rbc-btn-group {

        &:not(:first-child) {

          button {
            color: #9E9E9E;
          }
        }

        button {
          font-size: $small-font;
          display: inline-block;
          vertical-align: middle;
          box-shadow: none;
          background: none;
          border: 0;
          padding: 0.5rem;
          margin: 0;
          margin-right: 20px !important;
          border-radius: 0;
          outline: 0;
          line-height: normal;
          white-space: nowrap;
          cursor: pointer;
          text-transform: capitalize;
          transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);

          &:hover {
            background-color: rgba(0, 0, 0, 0.08);
          }

          &.rbc-active {
            background-image: none;
            box-shadow: none;
            color: $theme-primary;
            position: relative;
            font-weight: 500;
          }

        }

      }
    }

    .rbc-month-header {
      display: flex;
      flex-direction: row;
      background-color: $theme-primary;

      .rbc-header {
        border-bottom: 1px solid #EEEEEE;
        border-left: 0;
        color: #fff;
        font-size: $smallest-font;
        text-align: center;
        padding: 5px 3px;
        vertical-align: middle;
        font-weight: 500;
        min-height: 0;

        @include textOverflow();
      }
    }

    .rbc-row {

      .rbc-show-more {
        @include textOverflow();
        background-color: rgba(255, 255, 255, 0.3);
        z-index: 4;
        font-weight: 500;
        font-size: 11px;
        height: auto;
        line-height: normal;
        white-space: nowrap;
        padding: 0 5px;
        color: #3F51B4;
        margin-top: 5px;
      }
    }

    .rbc-month-row {

      .rbc-row-bg {
        cursor: pointer;

        .rbc-day-bg + .rbc-day-bg {
          border-left: 0 solid #EEEEEE;
          border-right: 0 solid #EEEEEE;
          transition: border 0.25s ease;

          &.popper-focus {
            border: 1px solid $light-text;
            z-index: 3;
          }
        }

        .rbc-today,
        .rbc-selected-cell {
          background-color: white;
        }

      }

      .rbc-date-cell {
        padding: 10px 5px;
        text-align: center;
        cursor: pointer;

        a {
          color: $theme-primary;

          &:hover {
            text-decoration: underline;
          }
        }

        &.rbc-now {

          a {
            padding: 7px;
            height: 30px;
            width: 30px;
            position: relative;
            z-index: 1;
            border-radius: 50%;
            display: inline-block;
            background-color: $theme-primary;
            color: #fff;
            font-weight: 500;
            text-align: center;
            font-size: 12px;
          }
        }
      }
    }

    .rbc-overlay{
      @include withZIndex(popover)
    }

    .rbc-event {

      .event-inner {
        display: flex;
        align-items: center;

        .icon {
          margin-right: 0.5rem;
          font-size: $normal-font;
        }

        .title {
          @include textOverflow();

          &.completed {
            text-decoration: line-through;
          }
        }
      }
    }
  }
}

.rbc-addons-dnd .rbc-row-content {
  pointer-events: none;
}

.rbc-addons-dnd .rbc-row-content .rbc-show-more,
.rbc-addons-dnd .rbc-row-content .rbc-event:not(.rbc-addons-dnd-dragging) {
  pointer-events: all;
}

.rbc-addons-dnd .rbc-addons-dnd-over {
  background-color: rgba(0, 0, 0, 0.3);
}

.rbc-addons-dnd .rbc-event {
  transition: opacity 150ms;
  pointer-events: all;
}

.rbc-addons-dnd.rbc-addons-dnd-is-dragging .rbc-event {
  pointer-events: none;
  opacity: .50;
}

