@import '../variables';

.categories-container {
  height: 100%;

  .category {
    max-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 0 0 1rem;
    border-radius: 3px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 2px 1px -1px rgba(0, 0, 0, 0.12);
    margin: 1rem;

    &.excluded {
      opacity: 0.7;

      .excluded-mask {
        @include mask();
        z-index: 2;

        .content {
          position:relative;
          top:-10px;

          .icon {
            height: 50px;
            width: 50px;
            color: $menu-icon-color;
          }

          .text {
            font-weight: bold;
          }
        }
      }

      .category-name {
        text-decoration: line-through;
      }
    }

    .category-name {
      border-top: 1px solid $divider-color;
      color: $light-text;
    }

    .tester {

    }
    .menu-holder {
      display: flex;
      justify-content: flex-end;

      .category-menu-trigger {
        height: 24px;
        z-index:3;
        width: 24px;
        margin: .5rem .5rem 0 0;
      }
    }
  }
}

.select-categories-menu {

  ul {
    max-height:300px;
  }
}