@import '../variables';

.dashboard-container {
  height: 100%;

  .lading-page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    .landing-header {
      position:relative;
      height: 250px;
      padding: 6rem;
      background-color:white;

      .landing-text span{
        color: $light-text;
        font-size: 16px;
        line-height: 24px;

        h2 {
          margin-bottom: 0.5rem;
        }
      }

      .triangle {
        width: 0;
        height: 0;
        border-top: 330px solid #4682b4;
        border-left: 960px solid transparent;
        position:absolute;
        right:0;
        top:0;

        @include mq('desktop-wide', 'max') {
          border-left: 660px solid transparent;
        }

        @include mq('tablet-wide', 'max') {
          border-left: 460px solid transparent;
          border-top: 280px solid #4682b4;
        }

        @include mq('tablet', 'max') {
          border-left: 360px solid transparent;
          border-top: 230px solid #4682b4;
        }

        @include mq('tablet-small', 'max') {
          border-left: 210px solid transparent;
          border-top: 180px solid #4682b4;
        }
      }
    }

    .projects-container {
      padding: 0 6rem;
      position: relative;
      top: -120px;
      height: calc(100% - 370px);

      .title {
        color: $light-text;
        margin-bottom: 2rem;
      }

      .projects-inner {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .project-card {
          width:370px;
          cursor:pointer;
          margin:1.5rem 1.5rem 1.5rem 0;
          transition: box-shadow .25s, background-color .15s ease;

          &:hover {
            //background-color: lighten($background-color,2%);
            box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.2),
            0px 4px 4px 0px rgba(0, 0, 0, 0.14),
            0px 6px 2px -4px rgba(0, 0, 0, 0.12);
          }
        }
      }

      .add-project {
        position:absolute;
        bottom:20px;
        right:20px;
      }
    }
  }
}