@import '../variables';

.dashboard-container {
  height: 100%;
  background-color: $background-color;

  .dashboard-body {
    display: flex;
    flex-grow:1;
    max-width: 100%;

    &.landing {
      background-image: url('~@img/dashboard-header.jpg');
    }

    .scrollable {
      overflow-y: auto;
      overflow-x:hidden;
      flex: 1;
      height: calc(100% - #{$header-height});

      @include withScrollbar();
    }
  }
}