@import '../variables';

.notifications-drawer {
  width: 380px;

  .header {
    background-color: $theme-primary;
    color: white;
    padding: .5rem 1rem;
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    box-shadow: $header-shadow;
    height: 55px;

    .text {
      flex: 1
    }
    .close {
      @include offwhiteIcon()
    }
  }

  .content {
    padding: 3rem 0;

    .empty-notifications {
      display: flex;
      flex-direction: column;
      align-items: center;

      .icon {
        margin: 2rem;
        height: 184px;
        width: 184px;
        background-image: url('~@img/hot-air-balloon.svg');
      }

      .context {
        text-align: center;
        padding: 0 2rem;
        color: $light-text;

        span {
          display: block;
          margin-top: 2rem;
        }
      }
    }
  }
}

$drawer-collapsed-width: 75px;
$drawer-open-width: 210px;

.project-drawer {

  position: relative !important;
  transition: width 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
  white-space: nowrap;
  width: $drawer-open-width;

  &.collapsed {
    width: $drawer-collapsed-width;
    overflow-x: hidden;
  }

  .drawer-link {
    display: flex;
    padding: 0.75rem 1.5rem;
    flex: 1;

    &.is-active {

      .icon,
      .drawer-item-text > span {
        color: $logo-color;
      }
    }
  }

}