@import '../variables';

.notifications-drawer {
  width: 380px;
  outline: 0;

  .header {
    background-color: $theme-primary;
    color: white;
    padding: .5rem 1rem;
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    box-shadow: $header-shadow;
    height: 55px;

    .text {
      flex: 1
    }
    .close {
      @include offwhiteIcon()
    }
  }

  .content {
    padding: 1rem 0;

    .empty-notifications {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 2rem 0;

      .icon {
        margin: 2rem;
        height: 184px;
        width: 184px;
        background-image: url('~@img/hot-air-balloon.svg');
      }

      .context {
        text-align: center;
        padding: 0 2rem;
        color: $light-text;

        span {
          display: block;
          margin-top: 2rem;
        }
      }
    }

    .notifications-wrapper {

      .notification {
        margin-bottom:1rem;

        &.unread {
          background-color: #E0F2F1;
        }

        .notification-body{
          align-items:center;

          .text {
            font-size: $small-font;

            b {
              color: lighten($menu-text-color, 15%)
            }
          }

          .date {
            font-size: $smallest-font;
            color: $light-text;
          }
        }

        .notification-footer{
          display: flex;
          justify-content: flex-end;
        }

        .notification-result {
          display: flex;

          span {
            color: $light-text;
            font-weight: 600;
          }
        }
      }
    }
  }
}

.project-drawer {
  z-index:0 !important;
  position: relative !important;
  transition: width 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
  white-space: nowrap;
  width: $drawer-open-width;

  &.collapsed {
    width: $drawer-collapsed-width;
    overflow-x: hidden;
  }

  .toggle-drawer {
    height: $breadcrumbs-height;
  }

  .drawer-item {
    &.active {
      color: $active-text-color;
    }
  }

  .drawer-link {
    display: flex;
    padding: 0.75rem 1.5rem;
    flex: 1;

    &.is-active {
      .icon,
      .drawer-item-text > span {
        color: $active-text-color;
      }
    }
  }

}