.header {
  display:flex;
  flex-direction: row;
  align-items: center;
  height: 55px;
  margin:0;
  padding:0;

  .avatar {
    padding-top:1px;
    font-size:1rem;
    box-shadow: 0 1px 0 rgba(0,0,0,.15);
  }

  .logo {
    height:45px;

    & > img {
      height:100%;
    }
  }

  &.transparent {
    background-color: transparent;
  }

  .user-menu-holder {
    transform-origin: right top !important;
  }
}