@import '../variables';

.app-header {
  display:flex;
  flex-direction: row;
  align-items: center;
  height: $header-height;
  background-color: $theme-primary;
  margin:0;
  padding:0;
  position: relative;
  @include withZIndex(header);
  transition: box-shadow 0.15s ease;

  &.with-sade {
    box-shadow: $header-shadow;
  }

  .logo {
    height:45px;
    cursor:pointer;

    & > img {
      height:100%;
    }
  }

  .avatar {
    font-size:1rem;
    cursor: pointer;
    box-shadow: 0 1px 0 rgba(0,0,0,.15);
  }

  .notification-badge {

    > span {
      top:5px;
      right:5px;
      height:18px;
      width:18px;
      color: white;
      background-color:$error-color;
    }

    &.empty {

      > span {
        display: none;
      }
    }

    .notifications-button {
      @include offwhiteIcon()
    }
  }

  &.transparent {
    background-color: transparent;
  }

}

.user-menu-holder {
  transform-origin: right top !important;
  padding-top:0;
  margin-top:.5rem;
  margin-right:.5rem;
  width:250px;

  ul {
    padding-top:0;
  }

  .user-info {
    display: flex;
    flex-direction: row;
    padding: 15px 20px;
    background-color: $light-header;
    outline: none;
    align-items: center;

    .details {
      max-width: 180px;
      padding-left: 20px;
      flex-direction: column;

      h3 {
        font-size: 18px;
        color: $menu-text-color;
        font-weight: 500;
        @include textOverflow();
      }

      span {
        font-size:14px;
        color: $light-text;
        @include textOverflow();
      }
    }
  }

  .user-menu-avatar {
    height:35px;
    width:35px;
    font-size:0.9rem;
  }

  .menu-item {
    padding-left: 1.5rem;

    .menu-text > span {
      color: $menu-text-color;
      font-size: 14px;
      line-height: 1.1;
    }

    .menu-icon {
      font-size: 22px;
      color: $menu-icon-color;
    }
  }

}
