@import '../variables';

.success-indicator {
  color: $success-color;
}

.warning-indicator {
  color: $warning-color;
}

.overage-indicator {
  color: $error-color;
}

.success-background {
  background-color: $success-color;
}

.warning-background {
  background-color: $warning-color;
}

.overage-background {
  background-color: $error-color;
}