@import '../variables';

$yin-yang1: $theme-primary;
$yin-yang2: $theme-light-grey;

.loader {
  position: relative;
  width: 100px;
  height:50px;
  background-color:$yin-yang2;
  border: 1px solid $yin-yang1;
  border-width: 2px 2px 52px 2px;
  border-radius:50%;
  animation: rotate 1.2s ease infinite;

  &:before, &:after {
    content:'';
    position: absolute;
    height:12px;
    width:12px;
    border-radius: 50%;
  }

  &:before {
    background-color: $yin-yang2;
    border: 19px solid $yin-yang1;
    top:50%;
    left:0;
  }

  &:after {
    background-color: $yin-yang1;
    border: 19px solid $yin-yang2;
    top:50%;
    left:50%;
  }
}

@keyframes rotate {
  0% {transform: rotate(-90deg)}
  100% {transform: rotate(270deg)}
}

.spinner {
  margin-left: 48%;
  fill: transparent;
  stroke: $theme-primary;
  stroke-width: 4;
  animation: dash 2s ease infinite,rotate 2s linear infinite;
}

@keyframes dash {
  0% {
    stroke-dasharray: 1,95;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 85,95;
    stroke-dashoffset: -25;
  }
  100% {
    stroke-dasharray: 85,95;
    stroke-dashoffset: -93;
  }
}
