@import '../variables';

.login-container {
  width: 460px;
  padding: 1.5rem 3rem;
  z-index: 2;
  display: block;
  margin: 0 auto;
  overflow: hidden;
  background-color: white;
  flex-direction: column;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 2px 40px -10px rgba(0, 0, 0, 0.5);

  .login-form {
      padding: 1.5rem 0;

    .form-control {
      margin-bottom: 2rem;
      display: flex;
      flex-direction: column;
    }

    .hidden-submit-handler {
      visibility: hidden;
    }
  }

  .logo {
    margin: 1.5rem 0;
  }
}

.login-layout {
  position:absolute;
  z-index:1;
  height:100%;
}


