@import '../variables';

.login-container {
  width: 460px;
  padding: 1.5rem 3rem;
  @include withZIndex('laytouFloat');
  display: block;
  margin: 0 auto;
  overflow: hidden;
  background-color: white;
  flex-direction: column;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 2px 40px -10px rgba(0, 0, 0, 0.5);

  .login-form {
    padding-top: 1.5rem;

    .form-control {
      margin-bottom: 2rem;
      display: flex;
      flex-direction: column;

      &:last-child {
        margin-bottom: 0.5rem;
      }
    }

    .hidden-submit-handler {
      visibility: hidden;
    }
  }

  .logo {
    margin: 1.5rem 0;
  }

  .login-with-media {
    display: flex;
    align-items: center;
    -webkit-justify-content: space-between;
    padding: 1rem 0;

    .title {

    }

    .media-icons-holder {
      display: flex;

      .media-icon {
        margin: 0 0.5rem;
        border: 1px solid $theme-primary;
        color: $theme-primary;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        width: 30px;
        cursor: pointer;
        transition: all 0.2s ease;

        svg {
          font-size: 1.25rem;
        }

        &:hover {
          background-color: $theme-primary;
          color: white;
        }

      }
    }
  }

}

.login-layout {
  position: absolute;
  @include withZIndex();
  height: 100%;
}


