@import '../variables';

$tab-bottom-space: 60px;

.mobile-view-wrapper {

  .tabs-content {

    .transactions-wrapper,
    .budgets-wrapper {
      background: white;
      box-shadow: $mobile-panel-shadow;
    }

    .tab {
      padding-bottom: $tab-bottom-space;
      margin: 1rem 0.5rem;
    }

    .header-title {
      color: $light-text;
      font-size: $smallest-font;
      margin-bottom: .5rem;
    }

    .overview-tab {

      .project-header {
        box-shadow: $mobile-panel-shadow;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: white;
        width: 100%;
        border-radius: 4px;

        .project-range {
          display: flex;
          align-items: center;
          color: $light-text;
          font-size: $smallest-font;
        }

        .overall {
          padding: 0.5rem;
          border-left: 1px solid $divider-color;
          > span {
            text-align: center;
            font-size: $big-font;
            margin-bottom: 0.25rem;
          }
        }
      }

      .card-title {
        color: $theme-primary;
        font-size: $smallest-font;
        margin-bottom: .25rem;
        text-align: right;
      }

      .balance-container {
        box-shadow: $mobile-panel-shadow;
        background: white;
        border-radius: 4px;
        width: 100%;

        .title {
          color: $light-text;
          font-size: $smallest-font;
        }

        .amount {
          font-size: 1.1rem;
        }

        .balance {
          border-right: 1px solid $divider-color;
          padding: 1rem;

          .amount {
            margin-top: 1rem;
            font-size: $biggest-font;
          }
        }

        .outcome-container,
        .income-container {
          padding: 1rem;
          display: flex;
          align-items: center;
          justify-content: space-between;
        }

        .income-container {
          padding: 1rem .75rem;
          border-bottom: 1px solid $divider-color;
        }
      }

      .last-activity {
        background: white;
        box-shadow: $mobile-panel-shadow;
        .title {
          color: $theme-primary;
        }
      }
    }

    .budgets-tab {

      .header {
        background: white;
        box-shadow: $mobile-panel-shadow;
        justify-content: space-between;

        .indicator-wrapper {
          padding: 0 0.5rem;
        }

        .usage-indicator {
          position: relative;

          .backdrop {
            color: $theme-light-grey;
          }
          .progress {
            position: absolute;
            left: 0
          }
          .content {
            flex: 1;
            flex-direction: column;
            border-radius: 50%;
            box-shadow: $indicator-shadow;
            width: 60px;
            height: 60px;
            position: absolute;
            top: 7px;
            left: 7px;
            z-index: 99;

            .usage {
              position: absolute;
              left: 50%;
              width: 100%;
              top: 50%;
              transform: translate(-50%, -50%);
              font-size: $big-font;
              text-align: center;
            }
          }
        }

        .safe-to-spent {
          min-width: 200px;
          justify-content: space-between;
          display: flex;
          flex-direction: column;

          .progress-bar {
            width: 100%;
            height: 10px;
            display: block;
            position: relative;
            background-color: rgb(238, 238, 238);
            overflow: hidden;
            border-radius: 3px;

            span {
              height: 10px;
              display: block;
              position: absolute;
              top: 0;
              left: 0;
              overflow: hidden;
              transition: width 0.2s ease;
            }
          }

          .dates {
            justify-content: space-between;
            font-size: $smallest-font;
            color: $light-text;
          }
        }
      }

      .budget-row {
        width: 100%;
        text-align: left;
        border-bottom: 1px solid $divider-color;
        padding: .75rem;
        display: flex;
        justify-content: space-between;

        &:last-child {
          border-bottom: none;
        }

        .budget-range {
          display: flex;
          align-items: center;
          font-size: $smallest-font;
          color: $light-text;
        }
      }
    }
  }

  .transactions-list {
    width: 100%;
    .avatar-container {
      display: flex;
      align-items: center;
    }

    .row {
      width: 100%;
      text-align: left;
      border-bottom: 1px solid $divider-color;
      padding: .75rem 0;
      border-left: 4px solid transparent;

      &:last-child {
        border-bottom: none;
      }

      &.accepted {
        border-left-color: $success-color
      }

      &.pending {
        border-left-color: $warning-color;
      }

      &.denied {
        border-left-color: $error-color;
      }

      .details {
        font-size: $smallest-font;

        .details-title {
          font-size: $normal-font;
          font-weight: 500;
        }

        .payment {
          color: $light-text;
        }
      }

      .details-amount {
        font-size: $smallest-font;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;

        .date {
          color: $light-text;
        }

        .amount {
          font-size: $medium-font;
        }
      }
    }
  }
}