@import '../variables';

$context-height: calc(100vh - (#{$mobile-header-height} + #{$tabs-height}));

.dashboard-container.mobile {
  background-color: $mobile-background;

  .mobile-loader {
    position: absolute;
    width: 100%;
    padding-top: 50%;
  }

  .mobile-welcome {
    img {
      box-shadow: $header-shadow;
      width: 100%;
    }
  }

  .wrapper {

    > div:first-child {
      width: 30px !important;
      bottom: 0 !important;
      top: 80px !important;
    }
  }
  .mobile-container {
    overflow-y: hidden;
    width: 100%;

  }

  .app-header {
    height: $mobile-header-height;

    .logo {
      opacity: 0.8;
      height: 35px;
      margin: 0 1rem;
    }

    .toggle-drawer {
      color: rgba(255, 255, 255, 0.8);
    }

    .project-toolbar {
      color: $mobile-header-color;
      .month-navigation {
        display: flex;
        align-items: center;
      }
      button {
        padding: 0;
        color: $mobile-header-color;
        @include withSize(36)
      }
    }
  }

  .mobile-view-wrapper {

    .tabs {
      background-color: $theme-primary;
      min-height: $tabs-height;

      button {
        color: white;
        min-height: $tabs-height;
      }

      div > span:last-child {
        box-shadow: rgb(0, 0, 0) 0 0 1px inset;
        height: 4px;
        background-color: white;
      }
    }

    .tabs-content {
      height: $context-height;
      overflow-y: hidden;

      > div {
        height: 100%;
      }

      .react-swipeable-view-container {
        height: 100%;
      }
    }

    .mobile-welcome {

      img {
        height: 400px;
      }
    }
  }
}

.mobile-usage-indicator {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  transform: rotate(-90deg);

  .progress-bar {
    transition: stroke-dasharray 0.3s ease;
    stroke-width: 2;
    fill: transparent;
    stroke-dasharray: 0, 100;
  }

  .background {
    opacity: 0.3;
    stroke: black;
    fill: transparent;
    stroke-width: 2;
    stroke-dasharray: 100, 100;
  }
}

.project-drawer.mobile {
  width: 80%;

  .user-header {
    padding: 2rem 1rem;
    background-color: $theme-primary;
    color: white;
    min-height: 140px;
    display: flex;
    align-items: center;
    .user-image {

      .details {
        h3 {
          font-weight: 500;
        }
      }
      .avatar {
        border: 1px solid white;
      }
    }
  }

  .active {
    span {
      color: $active-text-color;
    }
  }
}