@import '../variables';

.modal {
  @include withZIndex('modal');

  .modal-title {
    background-color: $theme-primary;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),
    0 2px 10px 0 rgba(0,0,0,.12);

    h2 {
      color: whitesmoke;
    }
  }

  .modal-content {
    padding: 2rem 2rem 0;

  }

  .modal-actions {
    padding: 1rem;
  }

  .form-control {
    margin-bottom: 1rem;
    display: flex;
  }

}