@import '../variables';

.modal {

  .modal-title {
    background-color: $theme-primary;

    h2 {
      color: whitesmoke;
    }
  }

  .modal-content {
    padding: 2rem 2rem 0;
  }

  .modal-actions {
    padding: 1rem;
  }

  .form-control {
    margin-bottom: 1rem;
    display: flex;
  }
}