@import '../variables';

.modal {
  @include withZIndex('modal');

  .modal-title {
    background-color: $theme-primary;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16),
    0 2px 10px 0 rgba(0, 0, 0, .12);
    min-width: 400px;

    h2 {
      color: whitesmoke;
      display: flex;
    }
  }

  .modal-content {
    padding: 2rem 2rem 0;

  }

  .modal-actions {
    padding: .25rem;
  }

  .form-control {
    margin-bottom: 1rem;
    display: flex;

    &.mselect {
      align-items: flex-start;

      div[role="button"] {
        margin-top: 0 !important;
      }
    }
  }
}

.category-theme {

  border-bottom: 1px solid rgba(0, 0, 0, 0.42);

  .separator {
    border-right: 1px solid $divider-color;
  }

  .label {
    color: $light-text;
    min-width: 40px;
  }

  .cell {
    display: flex;
    align-items: center;
  }

  .preview {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .value {
    margin: 0 1.5rem;
  }

  .category-avatar {
    height: 35px;
    width: 35px;

    svg {
      font-size: 21px;
    }
  }
}

.are-you-sure {

  .title {

    h2 {
      display: flex;

      svg {
        margin-right: 0.5rem;
      }
    }

  }

  .content {

  }
}

.budget-statistics {

}

.transaction-modal {

  .transaction-create-topbar {
    display: flex;
    font-size: $smallest-font;
    color: $menu-icon-color;

    .status-indicator {
      cursor: pointer;
      color: $success-color;
      font-weight: 500;

      .wrapper {
        border: 1px solid;
        border-radius:4px;
      }

      span {
        margin: 0 0.5rem 0 0;
        display: inline-block;
        height: 10px;
        width: 10px;
        border: 1px solid $success-color;
        border-radius: 50%;
      }

      &.pending {
        color: $warning-color;

        span {
          border-color: $warning-color;
        }
      }

      &.denied {
        color: $error-color;

        span {
          border-color: $error-color;
        }
      }
    }

    .date-picker {

      > div {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;

        &.error {
          color: $error-color;
        }

        &.disabled {
          cursor: auto;
          opacity: 0.6;
        }
      }

      .date-control {
        display: none;
      }
    }
  }

  .payment-method {
    width: 100%;
    div[role="button"] {
      padding: 0.25rem 0;
    }

    .display {
      display: flex;
      align-items: center;
      font-size: $smaller-font;
      .icon {
        color: $menu-icon-color;
        margin-right: .5rem;
      }
    }

  }
}

#transaction-type-menu {

  .transaction-type-menu-item {

    svg {
      margin-right: 0.5rem;
    }
  }
}