@import '../variables';

.popover-picker {
  padding: 1rem;
  max-width: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.color-picker {
  .color {
    margin: .5rem;
    height: 20px;
    width: 20px;
    cursor: pointer;
    transition: all .2s cubic-bezier(0, .5, .265, 2);

    &:hover, &.selected {
      box-shadow: 0 0 5px currentColor;
      transform: scale(1.15);
    }
  }
}

.color-picker-target {
  height: 16px;
  width: 16px;
  transition: all .2s cubic-bezier(0, .5, .265, 2);

  &:hover {
    box-shadow: 0 0 5px currentColor;
    cursor: pointer;
  }
}

.icon-picker {
  color: $menu-icon-color;

  .icon {
    margin: .25rem;
    cursor: pointer;
    padding: .5rem;
    transition: all .2s cubic-bezier(0, .5, .265, 2);

    &:hover {
      box-shadow:$icon-hover-shadow;
    }
  }
}

.icon-picker-target {
  color: $menu-icon-color;
  padding: .25rem;
  transition: all .2s cubic-bezier(0, .5, .265, 2);

  &:hover {
    box-shadow: $icon-hover-shadow;
    cursor: pointer;
  }
}