@import '../variables';

.project-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: calc(100% - #{$header-height});

  .page-title {
    display:flex;
    color: $page-title-color;

    .text {
      font-size: 1.25rem;
    }
  }

  .content {
    height: calc(100% - #{$header-height} - #{$breadcrumbs-height}) !important;
    padding: 2rem;
  }
}

.project-home-wrapper {

  .project-actions {

    .actions-menu {
      height:36px;
      width:36px;
    }
  }
  .project-kpi {
    padding: 1rem;
  }
}