@import '../variables';

.transactions-summary {

  position:relative;

  .table-head, .table-row{


    th, td {
      padding: .5rem;
    }

    .outcome-amount {
      display:flex;

      .icon {
        color: $error-color;
        font-size: $small-font;
      }
    }
  }

  .table-row {
    td {
      border: none;
    }
  }
}

.transactions-container {

  .transaction-toolbar {

    .months-navigator {
      display:flex;
      align-items:center;

      .selected-month {
        font-size: 20px;
        font-weight: 400;
        opacity: .54;
        white-space: nowrap;
        line-height: 23px;
      }

      .icon-button {
        width: 32px;
        height: 32px;

        svg {
          font-size: $big-font;
        }
      }
    }
    .spacer {
      flex: 1;
    }

    .filter-wrapper {

      .filter {

        &.active {
          color: $active-text-color;
        }
      }
    }

  }

  .table-view-wrapper {
    overflow-x: auto;
    min-height:400px;

    @include withScrollbar();

    table {
      table-layout: fixed;

      @include mq('tablet-wide', 'max') {
        width:200%;
      }

      th, td {
        padding: 0.5rem;

        &.small-cell {
          width:80px;
        }
      }

      .action-cell {
        padding:0;
        width:80px;

        .action {
          height: 32px;
          width:32px;
          color: $light-text;
          margin-left: 0.25rem;

          &.delete {
            &:hover {
              color: $error-color;
            }
          }

          &.edit {
            &:hover {
              color: $active-text-color;
            }
          }

          svg {
            font-size: $big-font;
          }
        }
      }

      .avatar-cell, .avatar-header{
        text-align:center;
      }

      .icon {
        font-size: $big-font;

        &.income {
          color: $success-color;
        }

        &.outcome {
          color: $error-color;
        }
      }

      .empty-row {

        height: 340px;

        td {
          border: none;
          width:100%;
          text-align: center;
          font-size: $big-font;
          color: $light-text;
        }

        img {
          height:265px;
        }
      }
    }
  }

  .footer {

    .add-transaction {
      color: $active-text-color;
    }
  }
}

