@import '../variables';

.transactions-summary {

  position:relative;

  .table-head, .table-row{


    th, td {
      padding: .5rem;
    }

    .outcome-amount {
      display:flex;

      .icon {
        font-size: $small-font;
      }
    }
  }

  .table-row {
    td {
      border: none;
    }
  }
}

.transactions-container {

  .transaction-toolbar {
    justify-content: space-between;
    .months-navigator {
      display:flex;
      align-items:center;

      .selected-month {
        font-weight: 400;
        opacity: .54;
        white-space: nowrap;
      }

      .icon-button {
        @include withSize(32);
        padding: 0;
        svg {
          font-size: $big-font;
        }
      }
    }
    .spacer {
      flex: 1;

      .summary {

        .title {
          font-weight: 400;
          opacity: .54;
        }

        .body {
          text-align: center;
          padding-top: 0.25rem;

          span {
            border-left: 1px solid rgba(0, 0, 0, 0.12);
            padding:0 1rem;

            &:first-child {
              border-left: none;
            }
          }
        }
      }
    }

    .filter-wrapper {

      .filter {

        &.active {
          color: $active-text-color;
        }
      }
    }

    .filter-display {
      flex-direction: row-reverse;
      padding: 0.5rem;
    }
  }

  .table-view-wrapper {
    overflow-x: auto;
    min-height:400px;

    @include withScrollbar();

    table {
      table-layout: fixed;

      @include mq('tablet-wide', 'max') {
        width:200%;
      }

      th, td {
        padding: 0.5rem;

        &.small-cell {
          width:80px;
        }
      }

      .action-cell {
        padding:0;
        width:80px;

        .action {
          height: 32px;
          width:32px;
          color: $light-text;
          margin-left: 0.25rem;
          padding: 0;
          
          &.delete {
            &:hover {
              color: $error-color;
            }
          }

          &.edit {
            &:hover {
              color: $active-text-color;
            }
          }

          svg {
            font-size: $big-font;
          }
        }
      }

      .avatar-cell, .avatar-header{
        text-align:center;
      }

      .icon {
        font-size: $big-font;

        &.income {
          color: $success-color;
        }

        &.outcome {
          color: $error-color;
        }
      }

      .empty-row {

        height: 340px;

        td {
          border: none;
          width:100%;
          text-align: center;
          font-size: $big-font;
          color: $light-text;
        }

        img {
          height:265px;
        }
      }
    }
  }

  .footer {

    .add-transaction {
      color: $active-text-color;
    }
  }
}

